@import "font";

// variables
$blue: rgb(1, 65, 255);
$blueLight: rgb(1, 145, 255);

// reset
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a:hover {
  text-decoration: none;
}
pre {
  background: rgba(0, 0, 0, 0.05);
  padding: 10px;

  code {
    font-size: 12px;;
  }
}

header {
  height: 70px;
  padding-top: 10px;
  background: $blue;
  .logo {
    float: left;
    img {
      height: 50px;
    }
  }
  h1 {
    float: left;
    margin-left: 15px;
    font-size: 26px;
    line-height: 50px;
    color: #FFF;
  }
  .menu {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 45px;
      line-height: 50px;

      a {
        color: #FFF;
      }
    }
  }
}

.main {
  min-height: 600px;
  padding: 50px 0;
}

footer {
  padding: 30px;
  background: rgba(#000, 0.7);

  p {
    text-align: center;
    color: #FFF;
    margin-bottom: 10px;

    a {
      color: #FFF;
    }
  }
  #creator {
    &, a {
      font-size: 17px;
    }
  }
  #copyright {
    font-size: 12px;
  }
}

#home-page {

  .questions-section {

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    li.q {
      padding: 5px 10px 7px;
      border: 1px solid rgba(#000, 0.2);
      background: rgba(#000, 0.05);
      overflow: hidden;
      margin-bottom: 30px;

      .title {
        color: $blueLight;
      }
      .info {
        span {
          margin-right: 20px;
          font-size: 12px;
          color: rgba(#000, 0.4)
        }
      }
    }
  }
}

#question-page {

  .head {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(#000, 0.1);
    h1 {
      font-size: 30px;
    }
    .info {

      span {
        font-size: 14px;
        margin-right: 30px;
      }
    }
  }
  .body {
    padding: 20px 0;

    .score {
      font-size: 24px;
    }
    .info {
      overflow: hidden;

      .owner {
        float: right;

        .image {
          margin-right: 5px;

          img {
            width: 30px;
          }
        }
      }
    }
    .comments {
      margin-top: 30px;

      li {
        padding: 3px 0 1px;
        border-top: 1px solid rgba(#000, 0.1);
        font-size: 14px;
        line-height: 30px;

        &:last-child {
          border-bottom: 1px solid rgba(#000, 0.1);
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

// shared
.tags {
  margin-top: 20px;

  span {
    float: left;
    margin-right: 10px;
    font-size: 14px;
    color: rgba(#000, 0.4);
  }
  li {
    padding: 2px 3px;
    background: rgba(#000, 0.5);
    color: #FFF;
    float: left;
    margin-right: 5px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: $blueLight;
    }
  }
}