<header th:fragment="header">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/assets/img/android-logo.png" alt="android logo">
                <h1 class="d-none d-sm-block">Android Enthusiast</h1>
            </a>
        </div>
        <ul class="menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/search">Search</a>
            </li>
        </ul>
    </div>
</header>