<!doctype html>
<html lang="en">
<head th:insert="partials/head :: head" th:remove="tag"></head>
<body>
<div th:insert="partials/header :: header" th:remove="tag"></div>
<section id="home-page" class="main">
    <div id="questions">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="questions-section">
                        <h2>10 Newest Questions</h2>
                        <ul>
                            <li class="q" th:each="item : ${newest}">
                                <div class="title" th:inline="text">
                                    <i class="fa fa-question-circle-o"></i>
                                    <a th:href="${'/question/' + item.question_id}" th:utext="${item.title}"></a>
                                </div>
                                <div class="info" th:inline="text">
                                    <span class="score" title="Votes">
                                        <i class="fa fa-thumbs-up"></i> [[${item.score}]]
                                    </span>
                                    <span class="view-count" title="View Count">
                                        <i class="fa fa-eye"></i> [[${item.view_count}]]
                                    </span>
                                    <span class="answer-count" title="Answer Count">
                                        <i class="fa fa-reply"></i> [[${item.answer_count}]]
                                    </span>
                                    <span class="date">
                                        <i class="fa fa-calendar"></i> [[${item.date}]]
                                    </span>
                                </div>
                                <div class="tags">
                                    <span>Tags:</span>
                                    <ul th:each="tag: ${item.tags}">
                                        <li th:text="${tag}"></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="questions-section">
                        <h2>10 Most Voted Questions</h2>
                        <ul>
                            <li class="q" th:each="item : ${mostVoted}">
                                <div class="title" th:inline="text">
                                    <i class="fa fa-question-circle-o"></i>
                                    <a th:href="${'/question/' + item.question_id}" th:utext="${item.title}"></a>
                                </div>
                                <div class="info" th:inline="text">
                                    <span class="score" title="Votes">
                                        <i class="fa fa-thumbs-up"></i> [[${item.score}]]
                                    </span>
                                    <span class="view-count" title="View Count">
                                        <i class="fa fa-eye"></i> [[${item.view_count}]]
                                    </span>
                                    <span class="answer-count" title="Answer Count">
                                        <i class="fa fa-reply"></i> [[${item.answer_count}]]
                                    </span>
                                    <span class="date" title="Creation Date">
                                        <i class="fa fa-calendar"></i> [[${item.date}]]
                                    </span>
                                </div>
                                <div class="tags">
                                    <span>Tags:</span>
                                    <ul th:each="tag: ${item.tags}">
                                        <li th:text="${tag}"></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div th:insert="partials/footer :: footer" th:remove="tag"></div>
</body>
</html>